
.header{
    position: relative;
    height: 100vh;
    background-color: aqua;
}

.box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(173, 224, 231);
    padding: 2rem;
    text-align: center;
}

.message{
    text-transform: uppercase;
}